%h1.text-center Listado de Articulos

%table.table-striped.table-hover.cold-md-10.cold-xs-12.col-sm-11.no-float.center-block
  %thead
    %tr
      %th.text-center Título
      %th.text-center Descripción
  %tbody
    - @articles.each do |article|
      %tr
        %td.large-padding= article.title
        %td.large-padding= article.text
%br

= link_to 'Nuevo Articulo', new_article_path
