<header>
  <nav class="bg-fondo cabecera-borde">
    <ul class="no-list no-padding text-center no-margin">
      <li class="col-md-3 inline-block text-center">
        <%=link_to root_path, class:"right-space white-text" do %>

          <%=image_tag "sologaming.png" ,height:"50px" %>
        <%end%>
      </li>

      <li class="col-md-9 inline-block tall-padding text-align-center">

              <% @Categories.each do |category| %>
                <%=link_to category.name, category ,class:"right-space white-text large-padding normal" %>

                  <%end%>



      </li>
    </ul>
    </nav>
</header>
