%header
  %nav.bg-fondo.cabecera-borde
    %ul.no-list.no-padding.text-center.no-margin
      %li.col-md-3.inline-block.text-center
        =image_tag "logo-gaming.png" ,height:"100px"
      %li.col-md-7.inline-block.tall-padding
        =link_to root_path, class:"right-space white-text" do
          %i
          Mi tienda
        = link_to products_url, class:"right-space white-text" do
          %i.mdi-account-box
          Productos
        = link_to articles_url, class:"right-space white-text" do
          %i.mdi-account-box
          Articulos
        -if user_signed_in?
          =link_to carrito_path, class:"white-text" do
            %i.mdi-action-shopping-cart
            Mi carrito
            (
            =@shopping_cart.products.count
            )
          =link_to "Cerrar sesión", destroy_user_session_path, class:"right-space white-text", method: :delete
        -if current_user.nil?
          =link_to new_user_session_path, class:"right-space white-text" do
            %i.mdi-account-box
            Iniciar sesión
  %nav.green.cabecera-borde
    %ul.no-list.no-padding.text-center.no-margin
      %li.col-md-10.inline-block
        =link_to root_path, class:"right-space white-text" do
          %i
        -@Categories.each do |category|
          =link_to category.name, category, class:"white-text large-padding"
