.col-md-10.center-block.no-float
  %article.card.large-padding
    %h1 Tu pago ha sido procesado
    %h2 Resumen de tu pedido
    %section.big-top-space
    %table.table.table-striped.table-hover.medium#table_shopping_cart
      %thead
        %td Producto
        %td Coste

      %tbody
        -@shopping_cart.in_shopping_carts.each do |i_sh|
          -product = i_sh.product
          %tr{id: "#{product.id}"}
            %td= product.name
            %td= product.pricing
