// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
/* Colores*/
.bold{
  font-weight: bold;
}


.form-control{
  padding-left: 10px !important;
}

/* Colores*/
$green: #008000;
$grey: #5A6576;
$other-grey: #E7ECEE;
$blue: #058CC5;
$red: #d2527f;
$ligth-blue: #3498d8;
$teal: #009688;
$black: #000000;
.white{
  background-color: white;
}
.background-imagen{
  background-image: url("gear.png") ;
  height: 300px;


}

body{  background-color: #ffffff !important;

}

.divdebody{
  background: url(imgad.jpeg) center top scroll no-repeat transparent !important;
position: fixed;
overflow: hidden;
height: 1000px;
width: 1900px;
z-index: -1;
top: 0px;
margin-left: -950px;
left: 50%;

}


a{

  text-decoration: none;
  color: $green !important;
}

a:hover{
  text-decoration: none;

  color:#03c703;
}
.black{
    background-color: $black;

}
.linea{
  background-color: $green;
}

.bg-fondo{
  background-image: url("darkBackground.gif");

}
.white-text{
  color:white;
}
.other-grey{
  background-color: $other-grey;
}
.green{

  background-color: $green;

}

.green-text{
  color: $green !important;
}
.blue{
  background-color: $blue;
}
.blue-text{
  color: $blue;

}
.no-decoracion{
  text-decoration: none;
}
.no-list{
  list-style-type: none;
}
.ligth-blue{
  background-color: $ligth-blue;
}
.ligth-blue-text{
  color: $ligth-blue;

}
.red{
  background-color: $red;
}

.red-text{
  color:  $red;
}

.grey{
  background-color: $grey;
}

.grey-text{
  color :$grey;
}



/* padding*/

.normal-padding{
  padding: 1em
}

.large-padding{
  padding: 5px 10px;
}

.big-padding{
  padding: 2em;
}

.padding-top{
  padding-top: 1.2em;
}
.margin-bottom{
  margin-bottom:1em;
}
.border-bottom-small{
  border-bottom: 1px solid #dedede;
}

.padding-bottom{
  padding-bottom:  1.2em;
}

.padding-right{
  padding-right:  1.2em;
}

/* Bordes*/

.cabecera-borde{
border-bottom: 1px solid rgba(225,225,225, .3)
}

/* Alineamiento*/

.justify{
  text-align: justify;
}

.in-top{
  vertical-align: top !important;
}

.absolute{
  position: absolute;
}

.topcero{
  top:0px;
  left:0px;
}

.relative{
  position: relative;
}


.no-float{

  float: none !important;
}

.no-padding{
  padding: 0px;
}

.inline-block{
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;

}

.display-block{
  display: block;
}
.float-left{
  float: left;
}
/* Margins*/

.margin-left-right{
  margin-left:2px;
  margin-right: 2px;
}

.no-margin{
  margin: 0px;
}
.big-top-space{
  margin-top: 50px;
}
.top-space{
  margin-top: 1.2em;
}


/* Tamaños*/

.bottom-space{
  margin-bottom: 2em;
}
.bottom-space-small{
  margin-bottom: 1.2em;
}

.small{
  font-size: 12px;
}

.normal{
  font-size: 1.2em;
}
.medium{
  font-size: 1.5em;
}

.big{
  font-size: 3em;
  }
.bigger{
  font-size: 4em;
}
.ultra-big{
  font-size: 7em;
}


.radius{

  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;

  text-decoration: none;
}

.jumbotron{
  height: 100%;
  display: block;
float: left;
width: 32%;
margin: 0 30px 30px 0;
  width: 480px;
  display: block;
  float: left;

}


.visibilidad{
  height: 150px;
}
.visibilidad_peque{
  height: auto;

  padding: 0;
margin-bottom: 20px;
}

.overflow{

  overflow: hidden;
}


.ancho{

  width: 900px;
}

.ancho-global{
  width: 1100px;
  min-height: 1000px;
}
.clearboth{
  clear: both;
}

.altura{
  height: 43px;
  overflow: hidden;
}
textarea{
width: 100%;
height: 70px;
}

.margin-auto{

  margin: auto;
}

.altura-more{
  height: 270px;
  overflow: hidden;
}


.sombra{
  box-shadow: 0 0 3px rgba(0,0,0,.39);
}
.ancho-30{
  width: 30%;
}
.ancho-40{
  width: 40%;
}
.ancho-50{
  width: 50%;
}
.ancho-60{
  width: 60%;
}
.ancho-70{
  width: 70%;
}

.vertical-centro{
  vertical-align: middle;
}

/* Sobreescribiendo estilos*/

.pagination li a{
  color : #7a7a7a !important;

}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: $green;
}
.float-right{
  float: right;
}

li a{
  color: #ffffff !important;
  text-decoration: none;
}
h3{

  margin-top: 0px;
  margin-bottom: 10px;


}
.col-md-2{
  padding-left: 0px;
  padding-right: 0px;
}
.col-md-3{
  padding-left: 5px;
  padding-right: 5px;
}

.caja{
   height:150px
}

.caja-peque{
  width:183px; height:80px
}
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}
/* Paginacion*/



.col-lg-2{
  padding-left: 0px;
  padding-right: 0px;
}


.padding-left-right{
  padding-left: 2px;
  padding-right: 2px;
}
.border-bottom{
  border-bottom: 3px $green solid;

}

.border-top{
  border-top:#bfbfbf 1px solid;

}


.cabecera {
  background: $green;

  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
}

.background-inicio{
  padding: 9px;
background-image: url(back.png);
background-color: #32333B;
}

.tags{

background-image: url(back.png);
background-color: #32333B;
}

.col-md-4{
  padding-left: 3px !important;
padding-right: 3px !important;
}


.background-inicio-2{
      background: url(back2.png) top left repeat-x;
}



.container{
  width: 1120px;
}


.perfil{
  width: 300px;
  background-color: $green;
  color: white;
}



.boton{
  display: block;
  border: none;
height: 50px;
line-height: 50px;
padding: 0px 30px;
margin-bottom: 2em;
text-align: center;
}

.background-inicio a{
  color: #ffffff !important;
}



.points{
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: #ffffff;

  width: 70px;
  height: 70px;

  line-height: 20px;
  display: block;
  float: right;
  text-align: center;

  font-size: 40px;
}
