// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
/* Colores*/
.bold{
  font-weight: bold;
}
body{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400; 
}


/* Colores*/
$green: #008000;
$grey: #5A6576;
$other-grey: #E7ECEE;
$blue: #058CC5;
$red: #d2527f;
$ligth-blue: #3498d8;
$teal: #009688;
$black: #000000;
.white{
  background-color: white;
}
.background-imagen{
  background-image: url("sologaming.jpg") ;
  height: 600px;


}
.black{
    background-color: $black;

}
.linea{
  background-color: $green;
}

.bg-fondo{
  background-image: url("darkBackground.gif");

}
.white-text{
  color:white;
}
.other-grey{
  background-color: $other-grey;
}
.green{

  background-color: $green;

}

.green-text{
  color: $green;
}
.blue{
  background-color: $blue;
}
.blue-text{
  color: $blue;

}
.no-decoracion{
  text-decoration: none;
}
.no-list{
  list-style-type: none;
}
.ligth-blue{
  background-color: $ligth-blue;
}
.ligth-blue-text{
  color: $ligth-blue;

}
.red{
  background-color: $red;
}

.red-text{
  color:  $red;
}

.grey{
  background-color: $grey;
}

.grey-text{
  color :$grey;
}



/* padding*/

.normal-padding{
  padding: 1em
}

.large-padding{
  padding: 5px 10px;
}

.big-padding{
  padding: 2em;
}


/* Bordes*/

.cabecera-borde{
border-bottom: 1px solid rgba(225,225,225, .3)
}

/* Alineamiento*/

.in-top{
  vertical-align: top !important;
}

.absolute{
  position: absolute;
}

.topcero{
  top:0px;
  left:0px;
}

.relative{
  position: relative;
}


.no-float{

  float: none !important;
}

.no-padding{
  padding: 0px;
}

.inline-block{
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;

}

.display-block{
  display: block;
}
.float-left{
  float: left;
}
/* Margins*/

.no-margin{
  margin: 0px;
}
.big-top-space{
  margin-top: 50px;
}
.top-space{
  margin-top: 1em;
}
/* Tamaños*/

.bottom-space{
  margin-bottom: 2em;
}


.small{
  font-size: 12px;
}

.normal{
  font-size: 1.2em;
}
.medium{
  font-size: 1.5em;
}

.big{
  font-size: 3em;
  }
.bigger{
  font-size: 4em;
}
.ultra-big{
  font-size: 7em;
}


.radius{

  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;

  text-decoration: none;
}

.jumbotron{
  height: 100%;
  display: block;
float: left;
width: 32%;
margin: 0 30px 30px 0;
  width: 480px;
  display: block;
  float: left;

}


.visibilidad{}


.overflow{
  height: auto;
  overflow: auto;
}


.ancho{

  width: 900px;
}

.ancho-global{
  width: 1100px;
}
.clearboth{
  clear: both;
}

.altura{
  height: 43px;
  overflow: hidden;
}
textarea{
width: 100%;
height: 70px;
}

.margin-auto{

  margin: auto;
}


.sombra{
  box-shadow: 0 0 3px rgba(0,0,0,.39);
}
.ancho-30{
  width: 30%;
}
.ancho-40{
  width: 40%;
}
.ancho-50{
  width: 50%;
}
.ancho-60{
  width: 60%;
}
.ancho-70{
  width: 70%;
}

.vertical-centro{
  vertical-align: middle;
}

/* Sobreescribiendo estilos*/
.float-right{
  float: right;
}
h3{

  margin-top: 0px;
  margin-bottom: 10px;


}
.col-md-2{
  padding-left: 0px;
  padding-right: 0px;
}

.caja{
   height:150px
}

.caja-peque{
  width:183px; height:80px
}
.text-align-right{
  text-align: right;
}
/* Paginacion*/



.col-lg-2{
  padding-left: 0px;
  padding-right: 0px;
}



.border-bottom{
  border-bottom: 3px $green solid;

}


.cabecera {
  background: $green;

  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
}
